.profile__edit-button {
    position: absolute;
    top: 17px;
    right: 0;
    background-image: url('../../../images/Edit Button.svg');
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

/*при разрешении от 0 до 1044px */
/*разрешение 320px */

@media screen and (max-width: 1044px) {

    .profile__edit-button {
        top: 34px;
        right: 45px;
        background-image: url('../../../images/Edit Button-2.svg');
        height: 18px;
        width: 18px;
    }
}