.profile {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
    max-width: 880px;
    margin: 0 auto;
}



/*при разрешении от 0 до 1044px */
/*разрешение 320px */

@media screen and (max-width: 1044px) {

    .profile {
        flex-direction: column;
        max-width: 282px;
        padding-bottom: 36px;
        gap: initial;
    }
}