.header__logo {
    max-width: 33px;
    min-width: 142px;
    padding-bottom: 41px;
}

/*при разрешении от 0 до 750px */
/*разрешение 320px */

@media screen and (max-width: 750px) {

    .header__logo {
        padding-bottom: 32px;
        padding-left: 27px;
        min-width: 104px;
        max-width: 25px;
    }
}