.footer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

/*при разрешении от 0 до 750px */
/*разрешение 320px */

@media screen and (max-width: 750px) {

    .footer__text {
        font-size: 14px;
        line-height: 17px;
    }
}