.profile__specialization {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 7px;
}

/*при разрешении от 0 до 1044px */
/*разрешение 320px */

@media screen and (max-width: 1044px) {

    .profile__specialization {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 9px;
    }
}