.place {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}